{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Crée un compte Admin</h1>
	<div class="row">
		<div class="col-6 mx-auto">
			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.firstname,{label:'Nom'}) }}
			{{ form_row(registrationForm.lastname,{label:'Prenom'}) }}
			{{ form_row(registrationForm.email,{label:'Email'}) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-primary">Register</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
